.profile {
    text-align: center;
    border: 0px;
}

.profile-title {
    font-size: 5vh
}

.profile-link {
    color: black;
    cursor: pointer;
}

.profile-link h2 {
    font-size: 3.5vh;
    font-variant: small-caps;
    float: left;
}

.profile-link:hover, .profile-link:focus, .profile-link:active {
    color: black;
    text-decoration: none;
}

.post-link {
    color: black;
    text-decoration: none;
}

.profile-img {
    width: 40vh;
    max-width: 750px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
.content blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
.content blockquote p {
    margin: 0;
    font-style: italic;
    color: #636b6f;
}
.content code {
    color: #1b1e21;
}
.content h1 {
    font-size: 4.5vh;
    text-align: center;
    padding-bottom: 15px;
}
.content h2 {
    font-size: 4vh;
}
.content h3 {
    font-size: 3.5vh;
}
.content h4 {
    font-size: 3vh;
}
.content h5 {
    font-size: 2.5vh;
}
.content h6 {
    font-size: 2.5vh;
}
.content p {
    text-align: justify;
    font-size: 2.5vh;
}
.content ul, ol {
    font-size: 2.5vh;
}