.row {
    height: 100vh;
}

.btn {
    background-color: #007e33;
    border-color: #007e33;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #33aa33;
    border-color: #33aa33;
}

.col-md-6 {
    float: none;
}

.card {
    text-align: center;
    border: 0px;
}

.profile-title {
    color: grey;
}

.profile-links {
    font-size: 40px;
}

.profile-img {
    width: 50%;
    max-width: 750px;
    margin: auto;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-btn {
    border-radius: 25px;
    outline: 0;
    color: white;
    cursor: pointer;
    font-size: 30px;
    width: 20%;
}