<html lang="en" class="h-100" style="overflow-y: scroll;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elliot Rodgers - Blog</title>
    <link rel="icon" href="/images/profile_2018.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body class="blog-font">
<header class="mt-4">
    <div class="container mb-5">
        <div class="row align-items-center">
            <div class="col-4 col-md-2">
                <a href="/" style="text-decoration: none; color: #34383c;">
                    <img src="/images/profile_2018.jpg" style="width: 100%; border-radius: 50%; float: left">
                </a>
            </div>
            <div class="d-none d-md-block col-md-4">
                <a href="/" style="text-decoration: none; color: #34383c;">
                    <h1><b>Elliot Rodgers</b></h1>
                    <h4>Developer</h4>
                </a>
            </div>
            <div class="col-8 col-md-6 text-right">
                <a class="btn btn-lg" href="https://github.com/elliotrodgers" target="_blank">
                    <span class="fab fa-github fa-2x"></span>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container mt-4">
    <div class="col-md-10 offset-md-1 content">
        {{ content }}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>