<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elliot Rodgers - Developer</title>
    <link rel="icon" href="/images/profile_2018.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-12 text-center">
            <img class="profile-img mb-5" src="/images/profile_2018.jpg">
            <h1 class="profile-title">Elliot Rodgers</h1>
            <h3 class="profile-sub-title">Developer</h3>
            <hr>
            <a href="/uploads/Elliot%20Rodgers%20-%20CV.pdf" target="_blank" class="profile-link">
                <h2 class="col-xs-12 col-md-3 p-0">cv</h2>
            </a>
            <a href="https://github.com/elliotrodgers" target="_blank" class="profile-link">
                <h2 class="col-xs-12 col-md-3 p-0">github</h2>
            </a>
            <a href="https://www.linkedin.com/in/elliotrodgers" target="_blank" class="profile-link">
                <h2 class="col-xs-12 col-md-3 p-0">linkedin</h2>
            </a>
            <a href="/blog" class="profile-link">
                <h2 class="col-xs-12 col-md-3 p-0">blog</h2>
            </a>
        </div>
    </div>
</div>
</body>
</html>
